.alert {
	@extend %pos-fix;
	@extend %grid-center;
	grid-gap: 2rem;
	bottom: 5%;
	left: 8%;
	@extend %text-center;

	z-index: $z-alert;

	&__item {
		@extend %flex-center;
		@extend %border-r;
		@extend .btn--added;
		@extend %fw-600;
		padding: 2rem 5rem;
		box-shadow: $btn-shadow;
		animation: fadeInScale 0.5s backwards $outSmooth;
		transition: all 0.5s $outSmooth;

		&:hover {
			color: inherit;
			background: darken($card-subtitle, 10%);
			opacity: 0.9;
		}

		&--hidden {
			display: none;
		}

		&--added {
			// @extend .btn--added;
			color: darken($card-title, 10%) !important;
			background: $card-subtitle !important;
			&:hover {
				color: inherit;
				background: darken($card-subtitle, 10%);
			}
			&__close {
				&:hover {
					color: darken($primary, 20%);
				}
			}
		}

		&--removed {
			background: $text !important;
			color: $primary !important;

			.alert__icon {
				background: rgba(white, 0.1);
				color: $primary;
			}
		}
	}

	&__icon {
		@extend %flex-center;
		@extend %border-r;
		@extend %fw-700;
		font-size: 1.7rem;
		margin-right: 3rem;
		width: 2.8rem;
		height: 2.8rem;
		background: darken($card-subtitle, 10%);
		color: $card-title;

		&--close {
			@extend %fw-700;
			margin: 0 0 0 5rem;
			padding: 1px 4px;
			font-size: 2rem;
			transform-origin: center center;
			transition: all 0.5s $outSmooth;
			// transform: translate(100%, -40%);
			&:hover {
				@extend %cursor;
				transform: rotate(90deg) scale(1.2);
			}
		}
	}

	@include device(tab-land) {
		left: 0;
		right: 0;
		transform: translate(0, -50%);
	}
}
