.bag,
.fav {
	display: flex;
	flex-direction: column;
	@extend %pos-fix;
	top: 0;
	right: 0;
	height: 100vh;
	width: 52rem;
	background: $bag-gradient;
	padding: 5rem 3rem 8rem 3rem;
	z-index: $z-bag-open;
	transform: translateX(100%);
	transition: transform 0.8s $inOutExpo;

	> * {
		transform: scale(0);
		opacity: 0;
		transition: all 1s $outSmooth;
	}

	&--if-no-items {
		@extend %flex-center;
		flex: 1;
		@extend %text-center;
		font-size: 2rem;

		span {
			@extend %fw-700;
			margin: 0 7px;
		}
	}

	&__total {
		font-size: 2rem;
		margin: 8vh auto 6vh auto;

		span {
			@extend %fw-700;
		}
	}

	&__footer {
		@extend %text-center;

		svg {
			stroke-width: 1px;
			stroke: currentColor;
		}
	}

	&--open {
		transform: translateX(0%) !important;

		> * {
			transform: scale(1) !important;
			opacity: 1 !important;
			transition-delay: 0.5s;
		}
	}

	@include device(tab) {
		width: 100%;
		padding: 5rem 10rem 10rem 10rem;

		.btn-checkout,
		.btn-clearbag {
			width: 30rem;
		}
	}

	@include device(phone-land) {
		padding: 5rem 0rem 8rem 0rem;

		&__header {
			padding: 0rem 2.5rem;
			flex: 1;
		}

		.items {
			max-height: 60%;
		}

		&__footer {
			display: grid;
			grid-auto-flow: column;
			align-items: center;
			margin-top: 2.5rem;
		}

		// &__buttons {
		// 	justify-self: flex-end;
		// }

		.btn-checkout,
		.btn-clearbag {
			width: 20rem;
			grid-gap: 1rem;
			text-transform: initial;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			margin: auto 0 auto auto;

			.btn-icon-wrapper {
				background: transparent;
			}

			svg {
				width: auto;
				height: 1.5rem;
			}
		}

		.btn-clearbag {
			margin-top: 2.5rem;
		}

		.total-price-items {
			display: block;
			font-size: 3rem;
			margin: 1rem 0;
		}

		&__total {
			padding: 0 3rem;
			font-size: 2.3rem;
		}
	}

	@include device(phone-ant) {
		&__total {
			padding: 0 3vw;

			.total-price-items {
				font-size: 2rem;
			}
		}
	}
}
