.scrolldown {
	@extend %pos-fix;
	bottom: 0%;
	left: 1%;
	width: 5.4rem;
	height: 8rem;
	padding: 1rem;
	@extend %flex-center;
	animation: fadeInY 1.5s ease backwards 2600ms;
	transition: all 0.5s $outSmooth;

	&--bg {
		background: $primary;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	&--hidden {
		opacity: 0;
		transform: translate3d(0, 50%, 0);
		// transition: all .5s $outSmooth;
	}
}

.scrolldown,
.scrolltop {
	svg {
		width: 2rem;
		@extend %h-auto;
		fill: $text;
	}
}

.scrolltop {
	@extend %border-r;
	@extend %pos-fix;
	@extend %flex-center;
	@extend %cursor;
	background: $primary;
	right: 5%;
	bottom: 8%;
	width: 5.4rem;
	height: 6rem;
	padding: 1rem;
	transform: translate3d(0, 200%, 0);
	opacity: 0;
	pointer-events: none;
	transition: all 1s $inOutBack;

	svg {
		transform: rotate(180deg);
		transition: transform 0.5s $inOutBack;
	}
	&:hover {
		background: $card-subtitle;
		svg {
			transform: translateY(-100%) rotate(180deg) scaleY(1.3);
		}
	}

	&--show {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		pointer-events: all;
	}

	@include device(tab) {
		bottom: 4%;
	}
}
