$primary: #a6724a; // za buttons, i header onaj braon deo, 85% mozda bolje za bg
$text: #291108;
$text-lighter: #3d2721; // clear cart i add to cart u favourites
$heading-secondary: #3d2721; // FEATURE, COLLECTIONS< ALL WATCHES....
$card-title: #6e4d43; // i hover link u mobile menu
$card-subtitle: #b5a091;
$card-collections: #ebe5e0; // ili mozda samo box-shadow da ostavim, #EBE5E0,
$card-gr-1: #e5dbcc;
$card-gr-2: #d4c19f;
$card-gradient-main: linear-gradient(
	200deg,
	rgba($card-gr-1, 0.72),
	rgba($card-gr-2, 0.85)
);
$bag-gr-1: #b88e6e;
$bag-gr-2: $primary;
$bag-gradient: linear-gradient(to bottom, $bag-gr-2, $bag-gr-1);

$btn-clear: #b9926c;
$btn-stock: #a89080; // 34%
$btn-collection: #cbbba8;

$bg-gradient: radial-gradient(
	rgba($card-gr-1, 0.75),
	rgba($card-gr-2, 0.85)
); // radial, #E5DBCC - u centru 75%, #D4C19F 85%
$bg: rgba($card-gr-2, 0.65);

// $btn-radius: 2px;
$btn-shadow: 1px 4px 10px 0px rgba(#000, 0.08);
$card-shadow: 1px 8px 20px 0px rgba(#000, 0.04);

// z-index
// $z-navbar-menu: 90;
$z-navmob: 95;
$z-navbar: 100;
// $z-navbar: 100;
$z-burger-open: 110;
$z-fav-open: 120;
$z-bag-open: 130;
$z-modal-bg: 110;

$z-filtermobile-nav--checked: 220;
$z-filtermobile-label--checked: 210;
$z-filtermobile-bg--checked: 200;

$z-filtermobile-nav: 90;
$z-filtermobile-label: 80;
$z-filtermobile-bg: 70;

$z-alert: 240;

//? EASING DEFINITIONS
$outSmooth: cubic-bezier(0.215, 0.61, 0.355, 1);
$inOutExpo: cubic-bezier(1, 0, 0, 1);
$inBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$outBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$inCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$outCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$inOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$inOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
