.body-allwatches {
	.navbar { animation: fadeInY 1s ease backwards 1200ms; }

	.title { animation: fadeInLetterSpacing 2s backwards ease 500ms; }

	.card {
		animation: fadeInScale 1.5s backwards $outSmooth;
		@include delay-random(3, 5, .1);
	}

	.btn-addtobag {
		animation: fadeInY 1.5s backwards $outSmooth;
		@include delay-random(3, 5, .5);
	}

	.filters {
		animation: scaleX 1s backwards $inOutQuart;
		&--anim { @include delay-random-child(4, 1.5, 3, .5, "fadeInScale"); }
	}


	@include device(tab) {
		.filters { &, &--anim { animation: none; }}

		.navbar { animation-delay: 1200ms; }

		.title { animation-delay: 500ms; }

		.card { @include delay-random(3, 5, .1); }

		.btn-addtobag { @include delay-random(3, 5, .5); }

		.filtermobile { animation: fadeIn 1.5s backwards $outSmooth 1s; }
	}
}