.feature {
	@extend %section-props;

	&__item {
		@extend %grid-center;
		grid-template-columns: repeat(2, minmax(auto, 50rem));
		grid-gap: 10vw;

		&:not(:last-child) { margin-bottom: 10vw; }

		&:nth-child(odd) {
			.feature__figure {
				grid-column: 2/3;
				grid-row: 1/2;
			}
			.feature__infos { grid-column: 1/2; }
		}
	}

	&__figure {
		@extend %flex-center;
		align-self: flex-start;
		@extend %pos-rel;

		&::after,
		&::before {
			@extend %after;
			box-shadow: 0px 10px 10px 1px rgba($card-subtitle, .7);
			border-radius: 50%;
			transform-origin: center center;
			z-index: -1;
		}
		&::after {
			width: 120%;
			height: 120%;
			opacity: .15;
			transform: translateY(10%);
		}
		&::before {
			width: 70%;
			height: 70%;
			opacity: .2;
			transform: translateY(20%);
		}
	}

	&__img {
		width: auto;
		height: 28vw;
	}

	&__infos {
		@extend %grid-center;
		justify-items: flex-start;	
		grid-gap: 2rem;
	}

	&__about { @extend %fw-200; }

	&__properties {
		p {	@extend %fw-700; }
		span {
			@extend %fw-400;
			color: lighten($text, 10%);
		}
	}

	&__footer {
		@extend %grid-jsb;
		align-items: flex-end;
		grid-auto-flow: column;
		width: 100%;
	}

	&__price {
		@extend %fw-500;
		font-size: 4rem;
		line-height: 1;
		margin-right: 2rem;
	}

	//* ------------------ MEDIA ------------------
	@include device(tab-land) {
		&__item {
			padding: 0 2vw;
			grid-template-columns: 2fr 3fr;

			&:not(:last-child) { margin-bottom: 20vw; }

			&:nth-child(odd) {
				.feature__figure { grid-column: 1/2; }
				.feature__infos { grid-column: 2/3; }
			}
		}
		&__figure { align-self: center; }
		&__price {
			font-size: 3.2rem;
			margin: 0;
		}
		&__footer {
			margin-top: 2rem;
			grid-gap: 5vw;
		}
	}

	@include device(phone-land) {
		&__item {
			padding: 25% 10vw 0 10vw;
			display: block;
			position: relative;
		}
		&__figure {
			margin-bottom: 2rem;
			position: absolute;
			top: 0;
			right: 10%;

			&::after,
			&::before {
				transform: translateY(5%);
				box-shadow: 0px 10px 10px 1px rgba($card-subtitle, .5);
			}
			&::after {
				width: 32rem;
				height: 32rem;
				opacity: .1;
			}
			&::before {
				width: 20rem;
				height: 20rem;
				opacity: .15;
			}
		}
		&__img {
			width: 30vw;
			height: auto;
		}
	}

	@include device(phone) {
		&__item { padding: 35% 10vw 0 10vw; }
		&__figure::after {
			width: 30rem;
			height: 30rem;
		}
		&__img { width: 40vw; }

		.btn-primary { padding: 1.6rem 2rem;}
	}

	@include device(phone-ant) {
		&__footer {
			display: block;
			.btn-primary {
				margin-top: 2rem;
				width: 100%;
				padding: 2rem 2rem;
			}
		}
	}

}

